@media (max-width: 991px) {
    body{
        /*background-image: url(../img/mobile-banner.png);*/
    }
    html, body {
        width: auto !important;
        overflow-x: hidden !important;
    }
    .girl-image{
        display: none;
    }
    .top-content-block{
        margin-top: 0px;
    }
    .white-border{
        border:none;
    }
    .logo-img{
        margin: 0 auto;
        display: block;
        margin-bottom: 10px;
        width: 50%;
    }
    .form-section{
        background: rgba(0,0,0,0.7);
        border-radius: 0px;
    }
    .container{
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
    /*form button{
        padding: 49px 0;
    }*/
    .white-transparent-block .image-row .image-item{
        width: 30%;
    }
    .white-border > .pt-75{
        padding-top: 15px;
    }
    .top-content-block .green-block h1{
		font-size:30px;
    }
    .top-content-block h2{
        font-size: 30px;
        margin-bottom: 10px;
        text-align: center;
        padding: 0;
    }
    #timer{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 991px) { 
	header{
		background-size:auto;
	}
	.section1{
		background-size:cover;
	}
	.jackpot_area{
		font-size:38px;
		font-weight:600;
		text-align:center;
	}
	#timer{
		left:0%;
	}
	.timer_area{
		text-align:center;
	}
	.content_area{
		text-align:center;
		font-size:14px;
		margin-bottom:10px;
	}
	.section3_img{
		text-align:center;
		padding:10px;
	}

}
@media screen and (max-width: 767px) { 
	header{
		background-size:auto;
	}
	.section1{
		background-size:cover;
	}
	.jackpot_area{
		font-size:32px;
	}
	#timer{
		left:0%;
	}
	.timer_area{
		text-align:center;
	}
	.content_area{
		text-align:center;
		font-size:14px;
		margin-bottom:10px;
	}
	.section3_img{
		text-align:center;
		padding:10px;
	}
	.lottery_logo {
		text-align: center;
	}

}
@media (max-width: 500px) {
    #timer{
        left: 20%;
    }
    #timer .ds-element .ds-element-title{
        padding: 0;
        font-size: 14px;
    }

}
@media screen and (max-width: 479px) { 
	header{
		background-size:auto;
	}
	.section1{
		background-size:cover;
	}
	.jackpot_area{
		font-size:32px;
	}
	#timer{
		left:0%;
	}
	.timer_area{
		text-align:center;
	}
	.content_area{
		text-align:center;
		font-size:14px;
		margin-bottom:10px;
	}
	
	.lottery_list {
		display: table;
		float: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		width: auto;
	}
	.section3_img{
		text-align:center;
		padding:10px;
	}
	
	.lottery_logo {
		text-align: center;
	}
	form button{
        padding: 14px 0;
    }

}
@media screen and (max-width: 480px) { 
	header{
		background-size:auto;
		display:none;
	}
	.section1{
		background-size:cover;
	}
	.section1_content {
		padding-top: 48px;
	}
	.jackpot_area{
		font-size:32px;
	}
	#timer{
		left:0%;
	}
	.timer_area{
		text-align:center;
	}
	.content_area{
		text-align:center;
		font-size:14px;
		margin-bottom:10px;
	}
	.section3_img{
		text-align:center;
		padding:10px;
	}
	.lottery_logo {
		text-align: center;
	}
	

}
/*@media screen and (max-width: 380px) { 
.section1{
		background-size:cover;
		background-image: url("../img/bg_380.jpg");
		background-position: center bottom;
    background-repeat: no-repeat;
	}
}*/

